<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Sign Language Learning</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logo.wight.png') }}" alt="Logo">
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('lesson') }}">Lesson</a>
            <a href="{{ url_for('quiz_levels') }}">Quiz</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Sign Language Learning. All rights reserved.</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
</body>
</html> 